{% comment %}
Este template espera una variable 'items' que contiene la lista de MenuItem
para el nivel actual, donde cada item ya tiene su atributo 'children_filtered'
con sus hijos accesibles.
{% endcomment %}

{% if items %}
    <ul class="sidebar-menu" style="list-style: none; padding-left:0;">
        {% for item in items %}
            <li class="sidebar-menu-item {% if item.children_filtered %}has-children{% endif %}">
                <a href="{{ item.resolved_url }}" class="nav-customitem d-flex align-items-center justify-content-between py-2 px-3 fs-6 {% if item.children_filtered %}collapsed{% endif %}"
                   style="min-height: 40px; border-radius: 6px;"
                   {% if item.children_filtered %}data-bs-toggle="collapse" data-bs-target="#submenu-{{ item.id }}" aria-expanded="false" aria-controls="submenu-{{ item.id }}"{% endif %}>
                    <span>
                        {% if item.icon %}
                            <i data-lucide="{{ item.icon }}"></i>
                        {% endif %}
                        {{ item.title }}
                    </span>
                    {% if item.children_filtered %}
                        <i data-lucide="chevron-right" class="arrow-icon ms-2"></i>
                    {% endif %}
                </a>
                {% if item.children_filtered %}
                    <ul id="submenu-{{ item.id }}" class="submenu collapse sidebar-submenu ps-3">
                        {% include 'menus/menu_snippet.html' with items=item.children_filtered %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}