{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'lib/tailwindcss-3.4.16/tailwindcss.js' %}"></script>

    <title>Home</title>

    <!-- Favicons -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
</head>
<body class="overflow-x-hidden">
  <header
    class="py-5 px-10 flex items-center fixed top-0 w-full justify-between text-white z-50"
  >
    <div id="header" class=" flex flex-grow basis-0">
      <h1 class="text-lg hidden">Cityglow</h1>
      <img src={% static "svg/logo_bg_black.svg" %} class="w-64" />
    </div>

    <nav class="flex text-white">
      {% if user.is_authenticated %}
      <a class="flex gap-2" href="#">Ir al Inicio <i data-lucide="arrow-down-right"></i></a>
      {% else %}
      <a class="flex gap-2" href="#">Iniciar Sesión <i data-lucide="log-in"></i></a>
      {% endif %}
    </nav>
  </header>
  <section class=" relative py-3  flex justify-center items-center  h-[650px] w-full text-center overflow-hidden  z-40">
    <header class="z-40   w-full  ">
      <h2 class="text-white pt-40 text-6xl font-medium">Disfruta los beneficios del <b class="text-[#F19124]">Alumbrado</b> Público</h2>
      <h5 class="text-white text-2xl mt-4">Reporta hoy para que tu ciudad sea más segura</h5>
      <div class="mt-20 flex gap-10 justify-center">
        <a href="#" class="flex text-white bg-[#F19124] p-2 rounded-md text-xl font-bold cursor-pointer hover:bg-orange-700 ..."> <i data-lucide="clipboard-plus"></i>&nbsp; Reportar </a>
        <a href="#" class="flex text-white text-xl p-2 rounded-md font-bold cursor-pointer hover:bg-orange-700 ..."> <i data-lucide="search"></i>&nbsp; Consultar</a>
      </div>
      
    </header>
    <!-- <footer class="z-30 relative text-white">
      <a href="#" class="bg-white text-slate-800">Ir</a>
    </footer> -->

    <div class="absolute top-0 bottom-0  h-full w-screen border-none bg-slate-800 ..." >
    <div class="absolute z-30  w-screen h-full  opacity-10 blur-[2px] ..."></div>
      <video
      autoplay
      loop
      muted
      class=" h-auto w-full max-lg:hidden"
      src={% static 'home.mp4' %}
    >
    </video>
    </div>
    
  </section>
  <footer class="relative bg-white pt-8 pb-6">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap text-left lg:text-left">
        <div class="w-full lg:w-6/12 px-4">
          <h4 class="text-3xl fonat-semibold text-blueGray-700">Información de Contacto</h4>
         
          <div class="flex gap-10 mt-6 lg:mb-0 mb-6">
            <a href="https://www.facebook.com/EMCALIoficial/" class="flex bg-white text-lightBlue-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
              <i data-lucide="facebook"></i>
            </a>
            <a href="https://www.instagram.com/emcalioficial" class="flex bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
              <i data-lucide="instagram"></i>
            </a>
            <a href="https://www.youtube.com/emcalioficial" class="flex bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
              <i data-lucide="youtube"></i>
            </a>
            <a href="https://x.com/EMCALIoficial" class="flex bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2" type="button">
              <i data-lucide="twitter"></i>
            </a>
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto">
           
              <ul class="list-unstyled">
                <li>
                  <a class="text-blueGray-300 hover:text-blueGray-600 font-semibold block pb-2 text-sm">Dirección</a>
                  <span class="block uppercase text-blueGray-300 text-sm font-semibold mb-2">Av 2N entre Calles 10 y 11 CAM Torre EMCALI</span>
                </li>
                <li>
                  <a class="text-blueGray-300 hover:text-blueGray-600 font-semibold block pb-2 text-sm">Teléfonos</a>
                  <span class="block uppercase text-blueGray-300 text-sm font-semibold mb-2">602 899 9999 - 6025240177</span>
                </li>
                <li>
                  <a class="text-blueGray-300 hover:text-blueGray-600 font-semibold block pb-2 text-sm">Correo</a>
                  <span class="block lower text-blueGray-300 text-sm font-semibold mb-2">alumbrado@emcali.com.co</span>
                </li>
                
              </ul>
            </div>
   
          </div>
        </div>
      </div>
      <hr class="my-6 border-blueGray-300">
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-sm text-blueGray-500 font-semibold py-1">
             © Desarrollado por UDPS(Unidad de Desarrollo de Productos y Servicios) de <a href="https://www.emcali.com.co/web/telco/" class="text-blueGray-500 hover:text-gray-600" target="_blank">EMCALI Telecomunicaciones</a> | Todos los derechos reservados. <span id="get-current-year">2024</span>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="{% static 'lib/lucide-v0.513.0/lucide.min.js' %}"></script>
  <script>
    lucide.createIcons();
  </script>
</body>
</html>