{% extends 'components/generic_access.html' %}
{% load static %}
{% load widget_tweaks %}

{% block right_body %}
<div class="d-flex flex-column min-vh-100">
    <div class="d-flex flex-column justify-content-center flex-grow-1">
        <div class="text-center">
            <a href={% url 'login:login' %}>
                <img alt="Logo Login" width="70%" class="imageContent"/>
            </a>
            <h5 class="mt-3 fw-normal">{{ title }}</h5>
        </div>
        <form method="post" class="needs-validation p-5 m-3" autocomplete="off">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <div class="form-floating">
                {{ form.password|add_class:'form-control'}}
                <label for="{{ form.password.name }}">Contraseña</label>
            </div>
            <br>
            <div class="form-floating">
                {{ form.confirmPassword|add_class:'form-control'}}
                <label for="{{ form.confirmPassword.name }}">Confirmar contraseña</label>
            </div>

            <br>
            <small class="form-text text-muted">{{ form.password.help_text }}</small>
            <br>
            <!-- Submit button -->
            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn custom-button">
                    Cambiar Contraseña
                </button>
            </div>  
        </form>
    </div>
</body>
{% endblock right_body %}

{% block assets %}
<link rel="stylesheet" type="text/css" href="{% static 'css/generic_access.css' %}">
<script src="{% static 'js/change_password.js' %}"></script>
{% endblock assets %}